@charset "UTF-8";

body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  background-color:#fff;
  padding: 15px 0;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 10;
}

.header__left {
  float: left;
  font-size:40px;
}

.header__left i {
  color: #4e4e4e;
  padding: 15px 0;
}

.header__right {
  float: right;
}

.header__right__botton {
  background-color: #74cfae;
  color:#fff;
  display:inline-block;
  font-size: 12px;
  opacity: 0.7;
  padding: 14px 12px;
  transition: .3s;
}

.header__right__botton:hover {
  opacity: 1;
}

.top-wrapper {
  text-align: center;
  padding: 250px 0;
}

.top-wrapper__title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom:20px;
}

.top-wrapper__text {
  color: #c0c0c0;
  font-size: 30px;
}

.main__top {
  background-color: #74cfae;
  padding-top: 50px;
}

.main__top_flex {
  display: flex;
  justify-content: space-around;
}

.main__top__right {
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 650px;
}

.main__top__right__title {
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 35px;
}

.main__top__right__text {
  font-size: 20px;
  text-align: center;
  word-break: normal;
}

.main__middle {
  padding: 60px 0 70px 0;
}

.main__middle__title {
  font-family: Raleway;
  font-size: 24px;
  text-align: center;
}

.main__middle__contents {
  display: inline-block;
  margin: 40px 100px 0 0;
  opacity: 0.7;
  transition: .3s;
}

.main__middle__contents:hover {
  opacity: 1;
}

.kill-space {
  font-size: 0;
}

.kill-space a:nth-child(3n) {
  margin-right: 0;
}

.kill-space a:nth-last-child(3) {
  margin-top: 80px;
}

.main__middle__text {
  display: inline-block;
  font-size: 20px;
  margin: 0 90px 0 0;
  text-align: center;
  vertical-align: middle;
  width: 567px;
}

.main__middle__button {
  background-color: #74cfae;
  color:#fff;
  display: inline-block;
  font-size: 12px;
  padding: 14px 20px;
  vertical-align: middle;
  opacity: 0.7;
  transition: .3s;
}

.main__middle__button:hover {
  opacity: 1;
}

.main__middle__contact {
  width: 850px;
  margin: 90px auto 0 auto;
}

.main__bottom {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
  color: #fff;
}

.main__bottom__title {
  font-family: Raleway;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

footer {
  background-color: #74cfae;
}

.bottom {
  background-color: #74cfae;
}

.bottom-text {
  color: #fff;
  text-align: right;
  padding: 20px 0 25px 0;
}

.skill-inner {
  width: 1028px;
  margin: 0 auto;
}

.skill-inner div:last-child {
  margin-right: 0;
}

.main__bottom-skill {
  float: left;
  text-align: center;
  margin: 0 180px 0 0;
}

.nav {
  padding: 200px 0;
}

.nav-contents {
  text-align: center;
}

.nav-button {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  transition: .3s;
  width: 185px;
}

.nav-button:hover {
  background-color: #fff;
}

.fa {
  color: #74cfae;
  margin: 0 auto;
  padding: 40px;
}

.bottom-text span {
  color: #fff;
  padding: 0;
}