@charset "UTF-8";

body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  background-color:#fff;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 10;
}

.header__left {
  float: left;
  font-size:40px;
  color: #4e4e4e;
}

.header__right {
  float: right;
}

#humberger {
  position: relative;
  height: 30px;
  width: 50px;
  padding: 6px;
  display: inline-block;
  display: none;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#humberger div {
  position: absolute;
  left: 13px;
  height: 2px;
  width: 24px;
  background-color: #ddd;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
}
#humberger div:nth-of-type(1) {
  top: 7px;
}
#humberger div:nth-of-type(2) {
  top: 13px;
}
#humberger div:nth-of-type(3) {
  top: 19px;
}

.header__right__botton {
  background-color: #74cfae;
  color:#fff;
  display:inline-block;
  font-size: 12px;
  padding: 14px 12px;
}

.top-wrapper {
  text-align: center;
  margin-top: 71px;
  padding: 250px 0;
}

.top-wrapper__title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom:20px;
}

.top-wrapper__text {
  color: #c0c0c0;
  font-size: 30px;
}

.main__top {
  background-color: #74cfae;
  padding-top: 50px;
}

.main__top_flex {
  display: flex;
  justify-content: space-around;
}

.main__top__right {
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 650px;
}

.main__top__right__title {
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 35px;
}

.main__top__right__text {
  font-size: 20px;
  text-align: center;
  word-break: normal;
}

.main__middle {
  padding: 60px 0 70px 0;
}

.main__middle__title {
  font-family: Raleway;
  font-size: 24px;
  text-align: center;
}

.main__middle__contents {
  margin-top: 40px;
}

.main__middle__content {
  display: inline-block;
  margin: 0 100px 0 0;
  opacity: 0.7;
  transition: .3s;
}

.main__middle__content:hover {
  opacity: 1;
}

.kill-space {
  font-size: 0;
}

.main__middle__contents a:nth-child(3n) {
  margin-right: 0;
}

.main__middle__contents a:nth-last-child(-n+3) {
  margin-top: 80px;
}

.main__bottom-skill-name {
  margin-top: 20px;
}

.main__middle__text {
  display: inline-block;
  font-size: 20px;
  margin: 0 90px 0 0;
  text-align: center;
  vertical-align: middle;
  width: 567px;
}

.main__middle__button {
  background-color: #74cfae;
  color:#fff;
  display: inline-block;
  font-size: 12px;
  padding: 14px 20px;
  vertical-align: middle;
  transition: .3s;
}

.main__middle__button:hover {
  color: #333;
}

.main__middle__contact {
  width: 850px;
  margin: 90px auto 0 auto;
}

.main__bottom {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
  color: #fff;
}

.main__bottom__title {
  font-family: Raleway;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

footer {
  background-color: #74cfae;
}

.bottom {
  background-color: #74cfae;
}

.bottom-text {
  color: #fff;
  text-align: right;
  padding: 20px 0 25px 0;
}

.skill-inner {
  width: 1028px;
  margin: 0 auto;
}

.skill-inner div:last-child {
  margin-right: 0;
}

.main__bottom-skill {
  float: left;
  text-align: center;
  margin: 0 180px 0 0;
}

.nav {
  padding: 200px 0;
}

.nav-contents {
  text-align: center;
}

.fa:hover {
  background-color: #fff;
}

.sns-button {
  color: #74cfae;
  padding: 40px;
  box-sizing: border-box;
  display: inline-block;
  transition: .3s;
  width: 185px;
}

.bottom-text span {
  color: #fff;
  padding: 0;
  width: 16px;
}


@media (max-width: 1199px) {

  .inner {
    width: 97%;
    margin: 0 auto;
  }
 
  .main__top {
    background-color: #74cfae;
    padding: 50px 0 25px 0;
  }

  .main__top_flex {
    display: block;
    text-align: center;
  }

  .main__top__right {
    color: #fff;
    margin-top: 20px;
    text-align: center;
    width: 90%;
  }
  
  .main__middle__contents {
    text-align: center;
  }

  .main__middle__content {
    display: block;
    margin: 0 auto;
  }

  .main__middle__contents a:nth-last-child(-n+3) {
    margin-top: 0;
  }

  .main__middle__contents a:nth-child(4) {
    margin-top: 80px;
  }

  .main__middle__contact {
    margin: 80px 0 0 0;
    text-align: center;
    width: 100%;
  }

  .main__middle__text {
    display: block;
    font-size: 20px;
    width: 100%;
  }

  .main__middle__button {
    display: inline-block;
    font-size: 12px;
    margin: 40px 0 0 0;
    padding: 14px 20px;
  }

  .skill-inner {
    width: 100%;
    text-align: center;
  }

  .main__bottom-skill {
    width: 100%;
    text-align: center;
    margin: 0 0 88px 0;
  }

  .main__bottom {
    padding: 70px 0 0 0;
  }

}

@media (max-width: 766px) {

  #humberger {
    display: block;
  }

  .top-wrapper__title {
    font-size: 80px;
  }

  .top-wrapper {
    margin-top: 71px;
    padding: 160px 0 130px 0;
  }

  .top-wrapper__title {
    margin-bottom: 20px;
  }
  
  .nav {
    padding: 50px 15px 50px 15px;
  }

.nav .inner {
  width: 100%;
}

  .sns-button {
    padding: 40px;
    box-sizing: border-box;
    width: 100%;
  }

  .header__right__botton {
    display: none;
  }
}